




.intro{
    background-image: url(https://wallpaperaccess.com/full/4902543.jpg);
   width: 1500px;
   height: 1500px;
   text-align: center;
   list-style-image: url(https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com//content/9c/a6/3ccd3e9f4b25bbc7d41bfcbccb62/2020-cen-ecommerce-pfds-fruitcheesecakemini._TTW_._CR0,0,1000,1000_._SR580,580_._QL100_.jpg);
   list-style-image: inherit;
list-style-image: initial;
list-style-image: revert;
list-style-image: revert-layer;
list-style-image: unset;

}
.h1{
color: green;
text-align: center;
}

.list{
    color:purple
}

.indexbackground{
    background-image: url(https://wallpaperaccess.com/full/1892345.jpg);
}