




.intro{
    background-image: url(https://wallpaperaccess.com/full/1892327.jpg);
   width: 1500px;
   height: 1500px;
   text-align: center;
   list-style-type: armenian;

}
.h1{
color: red;
text-align: center;
}